 /* Title Editing for VH */
 .title1 {
 	font: 30px Bold;
 	font-family: 'Chicle', cursive;
 }

/* Rotating image 270degree */
 .rotate270 {
 	-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
 }

 /* Products Page Redirection link in footer */
 .footerlink {
 	color: white;
 	font: 30px Bold;
 	font-family: 'Unlock', cursive;
 }