/* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    .header {
      font: 50px Bold Tahoma, Helvetica, Serif;
      background-color: #fffafa;
      text-align: center;
      padding: 10px;
      position: sticky;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    body {
      
    }

    h1 {
      font: Brush Script Std;
    }

    h2 {
      font: 50px Bold Tahoma, Helvetica, Serif;
    }

    img {
      width: 200px;
      height: 200px;  
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }

    .col-sm-8 {
      background-color: #70db70;
    }

    .prod-title {
      background-color: #9fafdf;
      text-align: center;
    }

    /*
    * {
      box-sizing: border-box;
    }

    .zoom {
      padding: 50px;
      transition: transform .2s;
      width: 200px;
      height: 200px;
      margin: 0 auto;
    }

    .zoom:hover {
      -ms-transform: scale(1.5); (IE 9)
      -webkit-transform: scale(1.5); (Safari 3-8)
      transform: scale(1.5); 
    }*/
