html {
	margin: 0;
	padding: 0;
}

/* Alignment properties */
.leftAlign {
	text-align: left;
}

.rightAlign {
	text-align: right;
}

.centerAlign {
	text-align: center;
}

.justifyAlign {
	text-align: justify;
}
/* End of Alignment properties */


/* Positioning */
.positionRelative {
	position: relative;
}

.positionAbsolute {
	position: absolute;
}

.positionFixed {
	position: fixed;
}

.positionSticky {
	position: sticky;
}

.positionInherit {
	position: inherit;
}
/* End of positioning */


/* Float property */
.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}
/* End of float property */


/* Custom Width */
.fullWidth {
	width: 100%;
}

.quarterWidth {
	width: 75%;
}

.halfWidth {
	width: 50%;
}

.semiWidth {
	width: 25%;
}
/* End of custom width */


/* Text decoration(lines) */
.decUnderline {
	text-decoration-line: underline;
}

.decOverline {
	text-decoration-line: overline;
}

.decLineThrough {
	text-decoration-line: line-through;
}

.decUnderOverLine {
	text-decoration-line: underline overline;
}
/* End of text deocration(lines) */


/* Z-Index */
.indexOne {
	z-index: 1;
}

.indexZero {
	z-index: 0;
}

.indexMinus {
	z-index: -1;
}


/* Text decoration(style) */
.decDouble {
	text-decoration-style: double;
}

.decDotted {
	text-decoration-style: dotted;
}

.decDashed {
	text-decoration-style: dashed;
}

.decWavy {
	text-decoration-style: wavy;
}
/* End of text decoration(styles) */


/* Text Overflow */
.overflowClip {
	text-overflow: clip;
}

.overflowEllipsis {
	text-overflow: ellipsis;
}

.overflowHidden {
	text-overflow: hidden;
}
/* End of text overflow */


/* Word wrap text */
.wrapNormal {
	word-wrap: normal;
}

.wrapBreak {
	word-wrap: break-word;
}
/* End if word wrap text styles */

/* uiGradients */
.mojito {
	background: #1D976C;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.moonlit {
	background: #0F2027;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* End of uiGradients */

